---
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import SidebarPersister from '../../../node_modules/@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '../../../node_modules/@astrojs/starlight/components/SidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<div class="panel-collapse sidebar-collapse-control">
  <button type="button" data-toggle-sidebar aria-expanded="true" aria-label="Collapse navigation" title="Collapse navigation">
    <span class="collapse-icon" aria-hidden="true">‹</span>
    <span class="collapse-text">Nav</span>
    <span class="rail-text" aria-hidden="true">Nav</span>
  </button>
</div>

<div class="sidebar-panel-body">
  <SidebarPersister>
    <SidebarSublist sublist={sidebar} />
  </SidebarPersister>

  <div class="md:sl-hidden">
    <MobileMenuFooter />
  </div>
</div>
